<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IURIS AI</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='logo2.png') }}" width="78" height="50" class="d-inline-block align-top" alt="">
        
              </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if 'user_id' not in session %}disabled{% endif %}" 
                           href="{{ url_for('chatbot') if 'user_id' in session else '#' }}"
                           {% if 'user_id' not in session %}tabindex="-1" aria-disabled="true"{% endif %}>
                            Assistente  
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'user_id' not in session %}disabled{% endif %}" 
                           href="{{ url_for('process_pdf') if 'user_id' in session else '#' }}"
                           {% if 'user_id' not in session %}tabindex="-1" aria-disabled="true"{% endif %}>
                            Processamento de peças  
                        </a>
                    </li>
                    <li class="nav-item">
                        <button id="resetButton" class="nav-link btn btn-link {% if 'user_id' not in session %}disabled{% endif %}"
                                {% if 'user_id' not in session %}tabindex="-1" aria-disabled="true"{% endif %}>
                            Limpar peças e histórico
                        </button>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link {% if 'user_id' not in session %}disabled{% endif %}" 
                           href="{{ url_for('reset') if 'user_id' in session else '#' }}"
                           {% if 'user_id' not in session %}tabindex="-1" aria-disabled="true"{% endif %}>
                            Reset  
                        </a>
                    </li> -->
                </ul>
                <ul class="navbar-nav">
                    {% if 'user_id' not in session %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                       <!--  <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                        </li> -->
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const resetButton = document.getElementById('resetButton');
            if (resetButton) {
                resetButton.addEventListener('click', function(e) {
                    e.preventDefault();
                    
                    // Get the current path
                    const currentPath = window.location.pathname;
                    
                    // Determine the redirect URL based on the current path
                    let redirectUrl;
                    if (currentPath.includes('/chatbot')) {
                        redirectUrl = '{{ url_for("reset") }}?redirect=chatbot';
                    } else if (currentPath.includes('/process')) {
                        redirectUrl = '{{ url_for("reset") }}?redirect=process';
                    } else if (currentPath.includes('/final_process')) {
                        redirectUrl = '{{ url_for("reset") }}?redirect=final_process';
                    } else {
                        redirectUrl = '{{ url_for("reset") }}';
                    }
                    
                    // Redirect to the appropriate URL
                    window.location.href = redirectUrl;
                });
            }
        });
        </script>
</body>
</html>