{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-4 mb-4" id="welcome-to-iuris-ai">Bem-vindo ao IURIS AI</h1>

      <p>Libere o poder da inteligência artificial na pesquisa jurídica e no processamento de documentos.</p>

      <div class="row mb-5">
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title" id="ai-powered-chatbot">Chatbot com IA</h5>
              <p>Converse com seu assistente jurídico, uma IA avançada, para obter respostas instantâneas às suas questões jurídicas.</p>
              <a href="{{ url_for('chatbot') }}" class="btn btn-primary">Comece a Conversar</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title" id="pdf-processing">Processamento de PDFs</h5>
              <p>Faça upload de seus arquivos, dê instruções precisas e analise documentos com a mais avançada tecnologia de IA.</p>
              <a href="{{ url_for('process_pdf') }}" class="btn btn-primary">Processar Documentos</a>
            </div>
          </div>
        </div>
      </div>

      <h3 class="mb-4" id="how-it-works">Como Funciona</h3>

      <div class="row mb-5">
        <div class="col-md-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title" id="upload">1. Upload</h5>
              <p>Faça upload de seus documentos jurídicos ou inicie uma conversa com nossa IA.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title" id="analyze">2. Análise</h5>
              <p>A inteligência articial processa os arquivos e textos e extrai as informações desejadas.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title" id="results">3. Resultados</h5>
              <p>Receba resultados precisos e detalhados para apoiar seu trabalho jurídico.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <!-- <h2 class="mb-4" id="ready-to-revolutionize-your-legal-work">Pronto para revolucionar seu trabalho jurídico?</h2> -->
        <!-- <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg me-3">Cadastre-se Agora</a> -->
        <a href="{{ url_for('login') }}" class="btn btn-primary">Fazer login</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}